body {
background-color: rgb(42, 87, 87);
}

header{
        text-align: center;
        background-color: transparent;
        color: black;
        border-radius: 0;
        border-bottom: 10px solid black;
        max-width: 600px;
        text-align: center;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

 .hero {
    background-color: aqua;
    border-radius: 15px 50px;
    border: solid royalblue;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
  } 

  .save-btn {
    border-left: 1px solid black;
    border-radius: 10px 43px;
    background-color: #06aed5;
    color: white;
    border: solid royalblue;
    margin-bottom: 2px;
    margin-top: 2px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.row {
    border-radius: 15px 50px;
    border: solid royalblue;
    margin: auto;
    margin-right: 2px;
    margin-left: 2px;
    margin-top: 10px;
    margin-bottom: 10px; 
    background-color: aquamarine;
}

.task-text{
    border-radius: 15px 50px 15px 50px;
    border: solid royalblue;
    margin-top: 8px ;
    margin-bottom: 8px;
}

main{
    background-color: aqua;
    border-radius: 15px 50px;
    border: solid royalblue;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px; 
}

.past {
    background-color: #ff892f;
    color: black;
}

.present {
    background-color:  #00FFDD;
    color: black;
}

.future {
    background-color:#E8FFC2;
    color: black;
}

.hour{
    margin: auto;
}